@import url(./_reset.css);

/*HOME STYLING*/
.containerHome {
  background-image: url('space.jpeg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: 580px;
}

.navbar {
  display: flex;
  height: 75px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;

}

.navButton {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  flex: 0 1 100px;
  transition:all 0.3s ease;
}
.spacing {
  flex: 8 0 auto;
}

.navButton a {
  text-decoration: none;
  color: #fff;
}

.navButton:hover {
  border: 1px solid #f7f7f7;
  box-shadow: inset 0 0 0 5px #f7f7f7;
  color: #f7f7f7;
  font-weight: 600;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  cursor: pointer;
}



@import url(http://fonts.googleapis.com/css?family=Glegoo);


blockquote {
  color: #fff;
  position: relative;
  margin: 150px 100px 80px 100px;
  font-size: 48px;
  line-height: 56px;
  padding-left: 40px;
  border-left: 2px solid #fff;
  transition: all 0.8s ease-out 0s;
}

blockquote span {
  display: block;
  text-align: right;
  font-size: 24px;
  line-height: 40px;
  margin-top: 10px;
  text-transform: uppercase;

}

blockquote.tweet-this:hover {

  font-family: 'Glegoo', serif;
	transform: scale(0.8);
}




/*.arrowContainer {
  width: 100%;
  margin-top: -90px;
}*/

@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0px);
    transition: ease-in;
  }
  50% {
    transform: translate3d(0px, 40px, 0px);
    transition: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}


.arrow {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
  transition: all 0.3s ease;
  animation: bounce 2s infinite;
}

.arrow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


@media (max-width: 1000px) {
  blockquote {
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 43px;
  }
  blockquote span {
    font-size: 25px;
  }
}



@media (max-width: 530px) {
  .containerHome {
    height: 500px;
  }

  blockquote {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 33px;
  }
  blockquote span {
    font-size: 15px;
  }
  .arrow {
    width: 30px;
    height: 30px;
  }
}



.test {
  margin-top: 800px;
}


/*ABOUT STYLING*/

.containerAbout {
  display: flex;
  height: 100vh;

}

.aboutImg {
  background-image: url(http://www.wired.com/images_blogs/wiredscience/2012/10/ff_musk4_f.jpg);
  background-repeat:no-repeat;
  background-size: contain;
  background-position:center;
  flex: 1 1 50%;

}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
  flex: 1 1 50%;
  transition: background 0.5s ease-in;
  color: #f7f7f7;
  font-family: 'Lato', sans-serif;

}



.heading {
  border: 1px solid #fff;
  background: none;
  font-size: 1.1em;
  font-weight: lighter;
  height: 40px;
  text-align: center;
  line-height: 40px;
  flex: 0 0 auto;
  width: 200px;

  overflow:hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;


}

.heading:before {
  content: "";
  position: absolute;
  background: #193441;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.2s ease-in;
}

.heading:hover:before {
  top: 0;
}


.topSpace {
  flex: 1;
}

.bioDescription {
  color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  flex: 3;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  vertical-align: middle;
  padding-top: 12px;
  line-height: 25px;



}


@media(max-width: 890px) {
  .bioDescription {
    font-size: 1.1em;
  }
}


@media(max-width: 770px) {
  .containerAbout {
    display: flex;
    flex-direction: column;
    height: 100vh;

  }

  .aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    flex: 1 0 auto;

  }

  .heading {

    font-size: 0.8em;
    font-weight: 100;
    height: 30px;
    text-align: center;
    line-height: 30px;
    flex: 0 0 auto;
    width: 150px;
    margin-top: 10px;
  }

  /*.topSpace {
    flex: 0;
  }

  .bioDescription {
    font-size: 1em;
    flex: 0;
  }*/
  .bioDescription {
    font-size: 1em;
  }

}
